 body {
  background-color: #202337;
  color: white;
  padding: 5px;
  color:  white;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  color: white;
  padding: 5px;
    font-family: "Lucida Console", "Courier New", monospace;
}

p {

}